language: node_js
node_js:
  - "6.10"
install:
  - npm install --prefix login
  - npm install --prefix initialize
  - npm install --prefix upload
  - npm install --prefix post
script:
  - npm test --prefix login
  - npm test --prefix initialize
  - npm test --prefix upload
  - npm test --prefix post
